
<div class="heading_sec1"> <h1>Influencers Account</h1></div>
<div class="first_sec container-fluid">
    
    <div class="box_1 border-size" >
        <div class="image_circle">
            <img src="/assets/images/loren-gray-x-things-you-never-knew-about-the-tiktok-star-1586962638-view-0.png">
        </div>
        <p class="name">{{influencer_data.profile_data?.name}}</p>
        <span class="tag">{{influencer_data.profile_data?.email}}</span>
        <p class="singer">American Singer</p>
        <div class="small_elements">
            <div class="element_1">
                <p>44.9M</p>
                <span>Reach</span>
            </div>  
            <div class="element_2">
                <p>44.9M</p>
                <span>Views</span>
            </div>  
        </div>
        <button type="button" class="edit-profile" > Profile</button>
    </div>
    <div class="box_2 border-size" *ngIf="tiktok_price_div">
        <h2 class="price">Price</h2>
        <div class="image_tiktok">
            <img src="/assets/images/tiktok icon 2.png">
        </div>
        <div class="influencer_tiktok">
            <p class="singer">
                <input type="checkbox" [value]="tiktok_post_price_check_box" (change)="this.tiktok_post_price_check_box = !this.tiktok_post_price_check_box;">    
                {{media_price.tiktok.post_price}}$/ Post
            </p>
            <p class="singer" >
                <input type="checkbox" [value]="tiktok_story_price_check_box" (change)="this.tiktok_story_price_check_box = !this.tiktok_story_price_check_box;">
                {{media_price.tiktok.story_price}}$/ Story
            </p>
            <p class="textarea">
                <b>Description</b>
                <br>
                <textarea id="tiktok_decsription" #tiktok_decsription  placeholder="Enter your description..."  rows="5" cols="30"   style="width: 80% !important;"></textarea> 
            </p>

            <p class="button-center">
                <!-- <button class="btn btn-primary  checkout description" >Add description</button>  -->
                <button class="btn btn-primary btn-lg checkout" (click)="checkOut('tiktok',tiktok_decsription.value)">Buy</button>
            </p>
        </div> 
    </div>
    <div class="box_2 border-size" *ngIf="facebook_price_div">
        <h2 class="price">Price</h2>
        <div class="image_tiktok">
            <img src="/assets/images/fb icon 2.png">
        </div>
        <div class="influencer_tiktok">
                
            <p class="singer">
                <input type="checkbox" [value]="facebook_post_price_check_box" (change)="this.facebook_post_price_check_box = !this.facebook_post_price_check_box;">
                {{media_price.facebook.post_price}}$/ Post
            </p>
            <p class="singer">
                <input type="checkbox" [value]="facebook_friend_price_check_box" (change)="this.facebook_friend_price_check_box = !this.facebook_friend_price_check_box;">
                {{media_price.facebook.friend_price}}$/ Friend
            </p>
            <p class="singer">
                <input type="checkbox" [value]="facebook_comment_price_check_box" (change)="this.facebook_comment_price_check_box = !this.facebook_comment_price_check_box;">
                {{media_price.facebook.comment_price}}$/ Comment
            </p>
            <p class="singer">
                <input type="checkbox" [value]="facebook_like_price_check_box" (change)="this.facebook_like_price_check_box = !this.facebook_like_price_check_box;">
                {{media_price.facebook.like_price}}$/ Like
            </p>
            <p class="textarea">
                <b>Description</b>
                <br>
                <textarea id="facebook_decsription" #facebook_decsription  placeholder="Enter your description..."  rows="5" cols="30"   style="width: 80% !important;"></textarea> 
            </p>
            <p class="button-center">

                <button class="btn btn-primary btn-lg checkout" (click)="checkOut('facebook',facebook_decsription.value)">Buy</button>
            </p>
        </div> 
    </div>
    <div class="box_2 instagram_border" *ngIf="instagram_price_div">
        <h2 class="price">Price</h2>
        <div class="image_tiktok">
            <img src="/assets/images/insta iconn 2.png">
        </div>
        <div class="influencer_tiktok">
            <p class="singer">
                <input type="checkbox" [value]="instagram_post_price_check_box" (change)="this.instagram_post_price_check_box = !this.instagram_post_price_check_box;">
                {{media_price.instagram.post_price}}$/ Post
            </p>
            <p class="singer">
                <input type="checkbox" [value]="instagram_story_price_check_box" (change)="this.instagram_story_price_check_box = !this.instagram_story_price_check_box;">
                {{media_price.instagram.story_price}}$/ Story
            </p>
            <p class="singer">
                <input type="checkbox" [value]="instagram_comment_price_check_box" (change)="this.instagram_comment_price_check_box = !this.instagram_comment_price_check_box;">
                {{media_price.instagram.comment_price}}$/ Comment
            </p>
            <p class="singer">
                <input type="checkbox" [value]="instagram_like_price_check_box" (change)="this.instagram_like_price_check_box = !this.instagram_like_price_check_box;">
                {{media_price.instagram.like_price}}$/ Like
            </p>
            <p class="singer">
                <input type="checkbox" [value]="instagram_follow_price_check_box" (change)="this.instagram_follow_price_check_box = !this.instagram_follow_price_check_box;">
                {{media_price.instagram.follow_price}}$/ Follow
            </p>
            <p class="textarea">
                <b>Description</b>
                <br>
                <textarea id="instagram_decsription" #instagram_decsription  placeholder="Enter your description..."  rows="5" cols="30"   style="width: 80% !important;"></textarea> 
            </p>
            <p class="button-center">

                <button class="btn btn-primary btn-lg checkout" (click)="checkOut('instagram',instagram_decsription.value)">Buy</button>
            </p>
        </div> 
    </div>
    <div class="box_2  twitter_border_size" *ngIf="twitter_price_div">
        <h2 class="price">Price</h2>
        <div class="image_tiktok">
            <img src="/assets/images/twitter 2.png">
        </div>
        <div class="influencer_tiktok">
            <p class="singer">
                <input type="checkbox" [value]="twitter_tweet_price_check_box" (change)="this.twitter_tweet_price_check_box = !this.twitter_tweet_price_check_box;">
                {{media_price.twitter.tweet_price}}$/ Tweet
            </p>
            <p class="singer">
                <input type="checkbox" [value]="twitter_retweet_price_check_box" (change)="this.twitter_retweet_price_check_box = !this.twitter_retweet_price_check_box;">
                {{media_price.twitter.retweet_price}}$/ Retweet
            </p>
            <p class="singer">
                <input type="checkbox" [value]="twitter_comment_price_check_box" (change)="this.twitter_comment_price_check_box = !this.twitter_comment_price_check_box;">
                {{media_price.twitter.comment_price}}$/ Comment
            </p>
            <p class="singer">
                <input type="checkbox" [value]="twitter_like_price_check_box" (change)="this.twitter_like_price_check_box = !this.twitter_like_price_check_box;">
                {{media_price.twitter.like_price}}$/ Like
            </p>
            <p class="singer">
                <input type="checkbox" [value]="twitter_follow_price_check_box" (change)="this.twitter_follow_price_check_box = !this.twitter_follow_price_check_box;">
                {{media_price.twitter.follow_price}}$/ Follow
            </p>
            <p class="textarea">
                <b>Description</b>
                <br>
                <textarea id="twitter_decsription" #twitter_decsription  placeholder="Enter your description..."  rows="5" cols="30"   style="width: 80% !important;"></textarea> 
            </p>
            <p class="button-center">

                <button class="btn btn-primary btn-lg checkout" (click)="checkOut('twitter',twitter_decsription.value)">Buy</button>
            </p>
            
        </div> 
    </div>

    <div class="tabs_set">
        <tabset>
            <tab>
                <ng-template tabHeading > 
                    <span 
                        (click)="   this.instagram_price_div    =   false; 
                                    this.tiktok_price_div       =   true;
                                    this.facebook_price_div     =   false;
                                    this.twitter_price_div      =   false;
                                ">
                        <img src="/assets/images/tiktok icon 1.png">  Tik Tok
                    </span>
                </ng-template>
                <div class="outer_most">
                    <div class="section_1" *ngFor="let tik_tok_info of media_post ; let i = index ">
                        
                        <div class="image_start" *ngIf="tik_tok_info.upload_type == 'image'">
                            <img [src]="tik_tok_info.image">
                        </div>
                        <div class="video_start" *ngIf="tik_tok_info.upload_type == 'video'">
                           
                            <video width="300" controls>
                                <source [src]="tik_tok_info.image">
                            </video>
                        </div>

                        <h2 class="text_name">{{tik_tok_info.text_name}}</h2>
                        <p class="discription">{{tik_tok_info.description}}</p>
                        <div class="counts">
                            <div class="likes">
                                <img src="/assets/images/favourite red 1.png"><span>50.8K</span>
                            </div>
                            <div class="comments">
                                <img src="/assets/images/COMMENT 1.png"><span>20.8K</span>
                            </div>
                        </div>
                        <div class="click_add">
                            <div class="Buy"><button type="button" [routerLink]="['/check-out']" class="edit-profile">Buy</button></div>
                            <div class="Quote"><button type="submit" class="edit-profile" (click)="openRequestModel(tik_tok_info.id,tik_tok_info.influencer_id);">   Request Quote</button></div>
                        
                        </div>
                    </div>
                    
                    <div *ngIf="media_post.length == 0" style="text-align: center;">
                        <h1>No post found</h1>
                    </div> 
                    
                    
                </div>
            </tab> 
            <tab class="insta" >
                <ng-template tabHeading> 
                    <span 
                        (click)="   this.instagram_price_div    =   true; 
                                    this.tiktok_price_div       =   false;
                                    this.facebook_price_div     =   false;
                                    this.twitter_price_div      =   false;
                                ">
                        <img src="/assets/images/insta iconn 1.png" >  Instagram
                    </span>
                </ng-template>
                <div class="outer_most">
                
                    <div class="section_1" *ngFor="let Instagram of media_post; let i = index;">

                        <div class="image_start" *ngIf="Instagram.upload_type == 'image'">
                            <img [src]="Instagram.image">
                        </div>
                        <div class="video_start" *ngIf="Instagram.upload_type == 'video'">
                           
                            <video width="300" controls>
                                <source [src]="Instagram.image">
                            </video>
                        </div>

                        <h2 class="text_name">{{Instagram.text_name}}</h2>
                        <p class="discription">{{Instagram.description}}</p>
                        <div class="counts">
                            <div class="likes">
                                <img src="/assets/images/favourite red 1.png"><span>50.8K</span>
                            </div>
                            <div class="comments">
                                <img src="/assets/images/COMMENT 1.png"><span>20.8K</span>
                            </div>
                        </div>
                        <div class="click_add">
                            <div class="Buy" ><button type="button" [routerLink]="['/check-out']"  class="edit-profile">Buy</button></div>
                            <div class="Quote"><button type="submit" class="edit-profile" (click)="openRequestModel(Instagram.id,Instagram.influencer_id);">   Request Quote</button></div>
                        
                        </div>
                    </div>
                    <div *ngIf="media_post.length == 0" style="text-align: center;">
                        <h1>No post found</h1>
                    </div> 
                </div>
            </tab>
            
            <tab class="facebook" > 
                <ng-template tabHeading> 
                    <span 
                        (click)="   this.instagram_price_div    =   false; 
                                    this.tiktok_price_div       =   false;
                                    this.facebook_price_div     =   true;
                                    this.twitter_price_div      =   false;
                                ">    
                        <img src="/assets/images/fb icon 1.png">  Facebook
                    </span>
                </ng-template>
                <div class="outer_most">
                
                        <div class="section_1" *ngFor="let Facebook of media_post; let i = index;">

                            <div class="image_start" *ngIf="Facebook.upload_type == 'image'">
                                <img [src]="Facebook.image">
                            </div>
                            <div class="video_start" *ngIf="Facebook.upload_type == 'video'">
                               
                                <video width="300" controls>
                                    <source [src]="Facebook.image">
                                </video>
                            </div>

                            <h2 class="text_name">{{ Facebook.text_name}}</h2>
                            <p class="discription">{{ Facebook.description}}</p>
                            <div class="counts">
                                <div class="likes">
                                    <img src="/assets/images/favourite red 1.png"><span>50.8K</span>
                                </div>
                                <div class="comments">
                                    <img src="/assets/images/COMMENT 1.png"><span>20.8K</span>
                                </div>
                            </div>
                            <div class="click_add">
                                <div class="Buy"><button type="button" [routerLink]="['/check-out']" class="edit-profile" >Buy</button></div>
                                <div class="Quote"><button type="submit" class="edit-profile" (click)="openRequestModel(Facebook.id,Facebook.influencer_id);">   Request Quote</button></div>
                            
                            </div>
                        </div>
                        <div *ngIf="media_post.length == 0" style="text-align: center;">
                            <h1>No post found</h1>
                        </div> 
                </div>
                </tab>
            
            <tab class="twitter">
                <ng-template tabHeading> 
                    <span 
                        (click)="   this.instagram_price_div    =   false; 
                                    this.tiktok_price_div       =   false;
                                    this.facebook_price_div     =   false;
                                    this.twitter_price_div      =   true;
                                ">   
                        <img src="/assets/images/twitter 1.png">  Twitter
                    </span>
                    </ng-template>
                <div class="outer_most">
                    
                    <div class="section_1" *ngFor="let Twitter of media_post; let i = index;">
                        

                        <div class="image_start" *ngIf="Twitter.upload_type == 'image'">
                            <img [src]="Twitter.image">
                        </div>
                        <div class="video_start" *ngIf="Twitter.upload_type == 'video'">
                           
                            <video width="300" controls>
                                <source [src]="Twitter.image">
                            </video>
                        </div>

                        <h2 class="text_name">{{ Twitter.text_name}}</h2>
                        <p class="discription">{{ Twitter.description}}</p>
                        <div class="counts">
                            <div class="likes">
                                <img src="/assets/images/favourite red 1.png"><span>50.8K</span>
                            </div>
                            <div class="comments">
                                <img src="/assets/images/COMMENT 1.png"><span>20.8K</span>
                            </div>
                        </div>
                        <div class="click_add">
                            <div class="Buy"><button type="button" [routerLink]="['/check-out']" class="edit-profile" >Buy</button></div>
                            <div class="Quote"><button type="submit" class="edit-profile" (click)="openRequestModel(Twitter.id,Twitter.influencer_id);">   Request Quote</button></div>
                        
                        </div>
                    </div>
                    <div *ngIf="media_post.length == 0" style="text-align: center;">
                        <h1>No post found</h1>
                    </div> 
                </div>
            </tab>
            
            
        </tabset>
    </div>

</div>


<!------------------- Request Quotes Model Start------------------------->

<div class="w3-container">
    <div id="edit_price" class="w3-modal" [style.display]="request_quotes_model ? 'block' : 'none'">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span (click)="this.request_quotes_model = false;" class="w3-button w3-display-topright" style="font-size: x-large;">&times;</span>
          <div class="promoter_signup">
            
            <form [formGroup]="request_quotes" (ngSubmit)="sendRequestQuotes()"> 
                <!-- <input type="hidden" id="media_type" formControlName="media_type" > -->
                <input type="hidden" id="post_id" formControlName="post_id" >
                <input type="hidden" id="influencerid" formControlName="influencerid" >
                <label for="description" class="description">Your Description Here...</label>
                <textarea formControlName="description" id="description" rows="8" cols="50"  class="form-control" > </textarea> 
                <br>
                <br>
                <input type="submit" value="Request" class="btn btn-info request_quote_button">
                <br>
            </form>
          </div>     
        </div>
      </div>
    </div>
  </div>


  <!------------------- Request Quotes Model End------------------------->
