
<div class="heading_sec1"> <h1>Promoters Account</h1></div>
<div class="first_sec container-fluid">
    <div class="box_1 border-size">
        <div class="image_circle">
        <img src="/assets/images/loren-gray-x-things-you-never-knew-about-the-tiktok-star-1586962638-view-0.png">
    </div>
        <p class="name">Loren Gray</p>
        <span class="tag">@lorengray</span>
        <p class="singer">American Singer</p>
        <div class="small_elements">
         <div class="element_1">
            <p>44.9M</p>
            <span>Reach</span>
         </div>  
         <div class="element_2">
            <p>44.9M</p>
            <span>Views</span>
         </div>  
        </div>
        <button type="submit" class="edit-profile">Edit Profile</button>
    </div>
</div>
<div class="outer_promote">
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">

    <thead>
      <tr> 
        <th>Srno</th>
        <th>Username</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let group of data">
      <td>{{group.Srno}}</td>
           <td><div class="image"><img src="{{group.template}}"></div><div class="data"> <div class="name">{{group.Username}}</div><div class="mail">{{group.mail}}</div></div></td>
           <td>{{group.Date}}</td>
           <td>{{group.Status}}</td>
       </tr>
    </tbody>
  </table>
</div>
