.heading_sec1:before {
    content: "";
    background: #fff952;
    position: absolute;
    width: 48%;
    height: 18px;
    top: 38px;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.heading_sec1 {
    position: relative;
}
.heading_sec1 h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    position: relative;
}
.social_media {
    position: absolute;
    right: 0;
    width: max-content;
    z-index: 99;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.main_out {
    width: 80%;
    margin-top: 46px;
    margin-bottom: 46px;
}


.social_media label {
    margin-right: 8px;
    font-size: 16px;
    font-family: Poppins;
}

.social_media select {width: 111px;height: 26px;}