<div class="heading_sec1"> <h1>Top Authentic Influencers Ranking</h1></div>
<div class="container-fluid main_out">
  <form [formGroup]="filterForm" class="social_media" >
    <label>Sort By Social Media: </label>
    <select  formControlName="position" (change)="filter()" >
      <option *ngFor="let position of positionList" [value]="position" >{{position}}</option>
    </select>
 
  </form>
  <div class="outer_promote">
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">

    <thead>
      <tr> 
        <th>Srno</th>
        <th>Username</th>
        <th>Followers</th>
        <th>Social Media</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let group of data">
      <td>{{group.Srno}}</td>
           <td><div class="image"><img src="/assets/images/loren-gray-x-things-you-never-knew-about-the-tiktok-star-1586962638-view-0.png"></div><div class="data"> <div class="name"><p>{{group.name}}</p></div><div class="mail"><p>{{group.email}}</p></div></div></td>
           <td>{{group.Followers}}</td>
           <td>{{group.socialmedia}}</td>
       </tr>
    </tbody>
  </table>
</div>
</div>