<div class="heading_sec1"> <h1> Authentic Influencers</h1></div>
<div class="container-fluid main_out">
  <form [formGroup]="filterForm" class="social_media" >
    <label>Sort By Social Media: </label>
    <select  formControlName="position" (change)="filter()" >
      <option *ngFor="let position of positionList" [value]="position" >{{position}}</option>
    </select>
 
  </form>
  <div class="outer_promote">
  <table id="datatableexample" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">

    <thead>
      <tr> 
        <th>Srno</th>
        
        <th>Username</th>
 
        <th>Social Media</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let group of data ; index as i">
      <td>{{i+1}}</td>
      <td>
     
        <div class="data1"> 
          <div class="image"><img src="/assets/images/total influeners.png"></div>
          <div class="name"><p  [routerLink]="['/influencer-account']">{{group.vals[0].name}}</p></div>
          <div class="mail"><p>{{group.vals[0].email}}</p></div>
        </div>
      </td>
   
      <td> <ul>
      <li *ngIf="group.vals[0].tiktok"> <img src="/assets/images/tiktok icon 2.png"> - <span><b>Followers:</b> {{group.tiktokfollowers}}</span>  </li>
      <li *ngIf="group.vals[0].instagram"> <img src="/assets/images/insta iconn 2.png"> - <span><b>Followers:</b> {{group.instagramfollowers}}</span> </li>
      <li *ngIf="group.vals[0].twitter"> <img src="/assets/images/twitter 2.png">  - <span><b>Followers:</b> {{group.twitterfollowers}}</span> </li>  
      <li *ngIf="group.vals[0].facebook"> <img src="/assets/images/fb icon 2.png"> -  <span><b>Followers:</b> {{group.facebookfollowers}}</span>  </li>
      </ul></td>
       </tr>
    </tbody>
  </table>
  
</div>
</div>