<div class="promoter_signup">
    <h2>Add Worker</h2>
    <p>Welcome Back !</p>
<form [formGroup]="worker_signup" (ngSubmit)="onSubmit()"> 
    <div formGroupName="worker_signup">
   <input type="text" formControlName="name" placeholder="Name" required>
  <input type="email" formControlName="email" placeholder="Email" required>
  <input type="password" formControlName="password" placeholder="Password" required>
<!--input class="coupon" type="text" formControlName="coupon" placeholder="Enter Coupon" required--->
        <button class="influencer_btn" type="submit" [disabled]="!worker_signup.valid">Add</button>

      </div>
    </form>
</div>


