
<div class="container-fluid outer_all">
<div class="image_bg">

<div class="left_sec"><h1>Create engaging videos <br> and make an impact</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
    <div class="button_slide">
        <button class="btn btn_rounded"  (click)="openPromotorForm()" *ngIf="!this.login_service.is_logged_in" >I am a Promoter </button>
        <button class="btn btn_rounded"  (click)="openInfluencerForm()" *ngIf="!this.login_service.is_logged_in" >I am a Influencer </button>
    </div>
</div>
<div class="right_sec"><img src="./assets/images/homeslide_1.png"></div>
</div></div> 
<div class="next_sec">
    <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </h1>
    </div>
<div class="next_sec1">
<div class="container-fluid">
    <ul>
        <li><img src="/assets/images/tiktok ellipse.png"><p>TikTok</p></li>
        <li><img src="/assets/images/insta circle.png"><p>Instagram</p></li>
        <li><img src="/assets/images/fb w circle.png"><p>Facebook </p></li>
        <li><img src="/assets/images/twitter w circle.png"><p>Twitter </p></li>
    </ul>
</div>
</div>
<div class="next_sec2">
   <div class="heading_sec1"> <h1>Featured Accounts</h1></div>
   <p>Influencer marketing is what we do and we do it well!</p>
   <div class="container-fluid">
       <div class="outer">
       
           <div class="outline">
        <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
        <p class="name_person">Priyanka Chopra </p>
        <p class="email">@priyanka_chopra </p>
        <p class="followers">2M <span class="social_media">
            <img src="/assets/images/insta iconn 2.png"> 
        </span></p>
        <p class="pricing">$285/ Post</p>
 </div> 
 
 <div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/twitter 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div> 
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/fb icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div> 
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/tiktok icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div> 
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/tiktok icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div>
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/tiktok icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div>
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/tiktok icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div>
<div class="outline">
    <div class="image_circle"><img src="/assets/images/rLsKeNN-_400x400 1.png"></div>
    <p class="name_person">Priyanka Chopra </p>
    <p class="email">@priyanka_chopra </p>
    <p class="followers">2M <span class="social_media">
        <img src="/assets/images/tiktok icon 2.png"> 
    </span></p>
    <p class="pricing">$285/ Post</p>
</div>
</div>
      </div>
</div>

<div class="next_sec3">
    <div class="container-fluid">
        <ul>
            <li><img src="/assets/images/total influeners.png"><p>Total Influencers</p></li>
            <li><img src="/assets/images/total posts.png"><p>Total Posts</p></li>
            <li><img src="/assets/images/total promoters.png"><p>Total Promoters</p></li>
            <li><img src="/assets/images/total audience.png"><p>Total Audienece</p></li>
        </ul>
    </div>
    </div>
    <div class="w3-container">
        <div id="id01" class="w3-modal" [style.display]="promotor_login_form ? 'block' : 'none'">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span (click)="closePromotorForm()" class="w3-button w3-display-topright">&times;</span>
                    <div class="promoter_signup">
                        <h2>Promoter’s SignUp</h2>
                        <p>It’s Free!</p>
                        <form [formGroup]="profileForm" (ngSubmit)="promotersignup()">
                            <div formGroupName="promoter_signup">
                                <input type="text" formControlName="name" placeholder="Name" required>
                                <input type="email" formControlName="email" placeholder="Email" required>
                                <input type="password" formControlName="password" placeholder="Password" required>
                                <input type="password" formControlName="confirm" placeholder="Confirm Password" required>
                                <input type="checkbox" id="checked" formControlName="checked">
                                <label for="horns" class="text_check">I Agree to <b>Terms of Service</b> and <b>Privacy Policy.</b></label>
                                <button type="submit" [disabled]="!profileForm.valid">SignUp</button>
                                <p class="centet_text" *ngIf="promotor_success_div" style="color: green;font-size: 25px; font-style: italic; font-weight: 600;">{{promotor_success_message}}</p>
                                <p class="centet_text" *ngIf="promotor_error_div" style="color: red;font-size: 25px; font-style: italic; font-weight: 600;">{{promotor_error_message}}</p>
                                
                                <p class="have_account">Already have an account ? <b><u>LogIn</u></b></p>
                            </div>
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

    <div class="w3-container">
        <div id="id02" class="w3-modal" [style.display]="influnncer_login_form ? 'block' : 'none'">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span (click)="closeInfluencerForm()" class="w3-button w3-display-topright">&times;</span>
                    <div class="promoter_signup">
                        <h2>Influencer’s SignUp</h2>
                        <p>It’s Free!</p>
                        <form [formGroup]="influencer" (ngSubmit)="influencerSignup()">
                            <div formGroupName="influencer_signup">
                                <input type="text" formControlName="name" placeholder="Name" required>
                                <input type="email" formControlName="email" placeholder="Email" required>
                                <input type="password" formControlName="password" placeholder="Password" required>
                                <input type="password" formControlName="confirm" placeholder="Confirm Password" required>
                    
                                <div class="influencer_media">
                                    <ul> 
                                      <li><input type="checkbox"  class="checkboxes all" id="tiktok" formControlName="tiktok" (click)="clickedon()">
                                      <img src="/assets/images/tiktok icon 2.png"/>
                                      <div class="box_in" [style.display]="tiktok_fol ? 'block' : 'none'">
                                      <p>Followers</p>
                                      <input type="number" formControlName="tiktok_followers" class="input_all"/></div>
                                      </li> 
                                      <li><input type="checkbox" class="checkboxes" id="insta" formControlName="insta" (click)="clickedon1()">
                                        <img src="/assets/images/insta iconn 2.png"> 
                                        <div class="box_in" [style.display]="insta ? 'block' : 'none'">
                                        <p>Followers</p>
                                        <input type="number" formControlName="insta_followers" class="input_all"/></div>
                                        </li>
                                        
                                        <li><input type="checkbox" class="checkboxes" id="fb" formControlName="fb" (click)="clickedon2()">
                                          <img src="/assets/images/fb icon 2.png">
                                          <div class="box_in" [style.display]="fb ? 'block' : 'none'">
                                          <p>Followers</p>
                                          <input type="number" formControlName="fb_followers" class="input_all"/></div>
                                          </li> 
                                          <li>
                                            <img (click)='redirectToTwitter()' src="/assets/images/twitter 2.png"> 
                                            <!--button (click)='redirectToTwitter()'>Twitter</button-->
                                              <!---input type="checkbox" class="checkboxes alll" id="twitter" formControlName="twitter" (click)="clickedon3()">
                                            <img src="/assets/images/twitter 2.png"> 
                                             <div class="box_in" [style.display]="twitter ? 'block' : 'none'">
                                            <p>Followers</p>
                                            <input type="number" formControlName="twitter_followers" class="input_all"/></div--->
                                            </li> 
                                         
                                    </ul>
                                   
                                  </div>
                                <input type="checkbox" id="checked" formControlName="checked">
                                <label for="horns" class="text_check">I Agree to <b>Terms of Service</b> and <b>Privacy Policy.</b></label>
                                <button class="influencer_btn" type="submit" [disabled]="!influencer.valid">SignUp</button>
                                <p class="centet_text" *ngIf="influnncer_success_div" style="color: green;font-size: 25px; font-style: italic; font-weight: 600;">{{influnncer_success_message}}</p>
                                <p class="centet_text" *ngIf="influnncer_error_div" style="color: red;font-size: 25px; font-style: italic; font-weight: 600;">{{influnncer_error_message}}</p>
                                
                                <p class="have_account">Already have an account ? <b><u>LogIn</u></b></p>
                          </div>
                        </form>
                    </div> 
                </div> 
            </div>
        </div>
    </div>

    
   