.heading_sec1:before {
    content: "";
    background: #fff952;
    position: absolute;
    width: 19%;
    height: 18px;
    top: 38px;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.heading_sec1 {
    position: relative;
}
.heading_sec1 h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    position: relative;
}
.border-size {
    width: 100%;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 30px;
    border-radius: 7px;
    margin-right: 40px;
    margin-bottom: 35px;
}
.allside {
    display: flex;
}
.border-size:last-child {
    margin-right: 0;
}

.image_circle {
    width: 175px;
    border-radius: 50%;
    height: 175px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.image_circle img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

p.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
/* identical to box height */
    color: #000000;
    text-align: center;
}

span.tag {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
/* identical to box height */
    color: #000000;
    text-align: center;
    display: block;
}

p.singer {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
/* identical to box height */
    color: #787878;
    text-align: center;
}

.small_elements {
    display: flex;
    justify-content: center;
}

.element_1 {
    flex: 0 20%;
}

.element_1 p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}

.element_1 span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
/* identical to box height */
    color: #787878;
}

.element_2 p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.element_2 span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
/* identical to box height */
    color: #787878;
}

button.edit-profile {
    background: #FFF953;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: unset;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin: 0 auto;
    color: #000000;
    display: block;
  
    margin-top: 16px;
}
.first_sec {
    margin-top: 34px;
    width: 98%;
} 

h2.price {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    margin-bottom: 45px !important;
}
.image_tiktok {
    width: 132px;
    height: 132px;
    margin: 0 auto;
}

.image_tiktok img {
    width: 132px;
    height: 132px;
    margin: 0 auto;
}
.influencer_tiktok {
    margin-top: 65px;
}
.nav-item:nth-child(1)::before{
    content: url("/assets/images/tiktok icon 1.png");
    position: absolute;
    right: 0;
    left: 45px;
    z-index: 9;
    top: 9px;
}
h2.text_name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

p.discription {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #787878;
}

.counts span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.counts {
    display: flex;
}

.outer_most {
   width: 100%;
   margin-bottom: 20px;
}



.section_1 {
    width: 23%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.likes {
    flex: 0 70%;
}

.counts img {
    margin-right: 5px;
}

.click_add {
    display: flex;
    margin-bottom: 50px;
}

.Buy {
    margin-right: 10px;
}
.image_start img {
    height: 274px;
    object-fit: contain;
}
.image_start img {
    width: 100%;
}

.section_1:last-child {
    margin-right: 0 !important;
}

.insider {
    width: 33%;
    display: inline-block;
}

.media.insider img {
    width: 40px;
}

.first_viewer {
    margin-bottom: 30px;
}

.viwers.insider p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 21px;
    color: #787878;
    text-align: center;
}

.edit_delete.insider span img {
    display: inline-block;
    text-align: center;
    line-height: 0;
}

.edit_delete.insider {
    text-align: right;
    line-height: 0;
    float: right;
    margin-top: 8px;
}

.edit_delete.insider span {
    margin-right: 6px;
}

.edit_delete.insider span:last-child {
    margin-right: 0;
}

.box_3.border-size {
    position: relative;
    background: url("/assets/images/Group 58.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}

input#file {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    width: 200px;
    opacity: 00;
    padding: 100px 0;
    margin: 0 auto;
}
p.filepath {
    position: absolute;
    bottom: 20%;
    align-items: center;
    text-align: center;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 17px;
    padding: 10px;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Poppins';

}


button.upload {
    position: absolute;
    left: 0;
    background: #FFF953;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: unset;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    bottom: 10%;
    font-size: 15px;
    line-height: 22px;
    margin: 0 auto;
    color: #000000;
    display: block;
    width: 40%;
    margin-top: 16px;
    right: 0;
    margin: 0 auto;
}
p.filepath.uploaded {
    color: green;
    font-size: 17px;
    padding: 10px;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Poppins';
}

.update_post_button  {
    margin-top: 10px;
    margin-bottom: 20px;
}
.update_price_button {
    margin-top: 10px;
    margin-bottom: 20px;
}
.update_profile_button {
    margin-top: 10px;
    margin-bottom: 20px;
}